@import "tailwindcss";

@font-face {
	font-family: "Umdot";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/Umdot12.woff2")
		format("woff2");
	font-weight: normal;
	font-display: swap;
}

body {
	font-family: "Umdot", sans-serif;
}
