*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	color: inherit;
}

:focus:not(:focus-visible) {
	outline: none;
}
